.header-container {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    display: flex;
    flex-direction: column;
    background-color: #0B2040;
}
.header-body {
    display: flex;
    align-items: center;
    color: #fff;
    /* flex-direction: column; */
    gap: 20px;
}

.header-text {
    /* border: 1px solid white; */
}

.header-text h1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.header-banner-img {

    width: 55%;
    max-height: auto;
    object-fit: cover;
    /* border: 1px solid white; */
}

.header-footer-bar {
    z-index: 10;
    position: relative;
    top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #fff;
    flex-wrap: wrap;
    box-shadow: rgba(58, 58, 58, 0.2) 0px 2px 8px 0px;

}

.header-footer-bar a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 3px;
    /* border: 1px solid black; */
}

.header-footer-bar a img {
    /* border: 1px solid black; */
    height: 40px;
    object-fit: cover;

}

.header-footer-bar a h5 {
    color: black;
    padding: 0;
    margin: 0;
}

@media (max-width: 890px) {

    .header-text h1 {
        font-size: 1.8rem;
    }

    .header-footer-bar a h5 {
        font-size: 1.1rem;
    }

    .header-footer-bar a img {
        height: 35px;
        object-fit: cover;

    }

}

@media (max-width: 850px) {

    .header-text h1 {
        font-size: 1.7rem;
    }

}

@media (max-width: 805px) {

    .header-text h1 {
        font-size: 1.6rem;
    }

}

@media (max-width: 773px) {

    .header-text h1 {
        font-size: 1.3rem;
    }

    .header-text p {
        font-size: .8rem;
    }
    .header-footer-bar a h5 {
        font-size: .9rem;
    }

    .header-footer-bar a img {
        height: 30px;
        object-fit: cover;

    }

}

@media (max-width: 675px) {
    .header-body {
        margin-top: 1rem;
        flex-direction: column;
    }

    .header-banner-img {
        width: 70%;
    }

    .header-footer-bar a h5 {
        font-size: .8rem;
    }

    .header-footer-bar a img {
        height: 28px;
        object-fit: cover;

    }
}

@media (max-width: 630px) 
{
    .header-footer-bar a h5 {
        font-size: .6rem;
    }

    .header-footer-bar a img {
        height: 25px;
        object-fit: cover;

    }
}

@media (max-width:560px)
{
    .header-container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (max-width:490px)
{
    .header-container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}