.Vcard
{
    text-decoration:none;
    width: 100% !important;
}
.Vcard:hover
{
    border: none;
    box-shadow: rgba(58, 58, 58, 0.2) 0px 2px 8px 0px;
}

.product-img
{
    height: 150px;
    object-fit: contain;
    margin: 1rem 0;
    width: 100% !important;
}
.product-rating
{
    display: flex;
    gap:10px;
    margin-left: 4px;
}
.product-rate
{
    padding-top:.1rem ;
    padding-left: .15rem;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    font-weight: 600;
    background-color: green;
    color: white;
    border-radius: 4px;
}
.product-rate-count
{
    color: slategray;
    font-size: .9em;
    font-weight: 400;
}
.product-price-details
{
    margin: .5rem 0;
    display: flex;
    align-items: center;
    gap: 10px;

}
.product-new-price
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.1em;
}
.product-actual-price
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: slategray;
    font-size: .9em;
    font-weight: 400;
    text-decoration: line-through;
}
.product-discount
{
    color: green;
    font-size: .9em;
    font-weight: 500;
}
.product-title
{
    padding-left: 4px;
}
.product-delivery
{
    padding-left: 4px;
}
