.product-item-container
{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 50px 6.25rem ;
}


.product-item-img-cart-buy
{
width: 40%;
position: sticky;
top:80px;
height: 100%;
}

.product-item-details
{
    width: 50%;
}
.product-item-cart-buy
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.item-img
{
    width: 100%;
    height: 399px;
    object-fit: contain;
    
}

.cart-btn,.buy-btn
{
    padding: .8rem !important;
    width: 90%;
    font-size:1.2em !important;
}
.product-item-special-price{
    color: green;
    font-weight: 500;
    /* margin-left: .4rem; */
}

.product-item-price-details
{
    display: flex;
    /* margin: 1rem 0; */
    align-items: center;
    gap: 10px;
    /* border: 1px solid red; */
}
.product-item-new-price
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    font-weight: 500;
 
}

.product-item-actual-price
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: slategray;
    font-size: 1.2em;
    font-weight: 400;
    text-decoration: line-through;

}
.product-item-discount
{
    color: green;
    font-size: 1.2em;
    font-weight: 500;
}
.product-item-rating
{
    display: flex;
    align-items: center;
    gap: 10px;

}
.product-item-rate
{
    /* margin-left: .4rem; */
    color: white;
    background-color: green;
    width: 8%;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .1rem;
    padding-left: .15rem;
    border-radius: 5px;
}
.product-item-rate-reviews-count
{
    color: slategray;
    font-size: 1.1em;
    font-weight: 500;
}

.product-item-description
{
    margin-top: .5rem;
    display: flex;
    gap: 15px;
}

.product-item-description span
{
    color: gray;
    font-weight: 500;
}

.product-specification h4,.inthebox
{
    padding: 1rem;
    border-bottom: 1px solid rgb(228, 227, 227) ;
}

.inthebox span
{
    font-size: 1.2em;
    font-weight: 400;
}

.general,.inthebox
{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.general .genral-title
{
    font-size: 1.2em;
    font-weight: 400;
}
.product-item-general
{
    display: flex;
    justify-content: space-between;
}

.product-item-general span
{
    color: gray;
    font-weight: 500;
}